:local .tracker {
  display: flex;
  margin: 16px;
}

:local .content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

:local .bottom {
  display: flex;
}

:local .separator {
  flex: 1;
}
